@charset "utf-8";

/*=====blobal=====*/
* {
  color: #333;
  background-color: #fff9f4;
}

body {
  height: 1000px;

}

a { 
  color: inherit;
  text-decoration: none;
}

/*=====tabWrap=====*/
.tabWrap {
  height: 560px;
  padding: 202px 0 262px 0;
  line-height: 65px;
  width: 96%;
  margin: auto;
}

/*=====tabNav=====*/
.tabWrap ul {
  display: flex;
  justify-content: center;
}

.tabNav li {
  width: 200px;
}

.tabNav li + li {
  margin-left: 24px;
}

.tabWrap .tabNav a:hover,
.tabWrap .tabNav a.active {
  background-color: #d8d8d8;
  color: #fff;
}

.tabWrap .tabNav a:hover {
  opacity: 0.8;
}

.tabNav a {
  display: block;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: #3fa6b4;
  color: #fff;
}

/*=====tabPanel=====*/
.tabPanel {
  display: flex;
  justify-content: center;
}

.tabPanel .tab {
  border-top: solid 10px #d8d8d8;
  background-color: #fff;
  height: 490px;
  width: 648px;
  padding: 24px 16px;
}

.tabPanel .tab p {
  background-color: #fff;
  line-height: 20px;
}